footer(class='footer mt-auto py-3 bg-light')
    div(class='container')
        span(class='text-muted')
            img(src=`/assets/pictures/logo.png` title='title' alt='alt')
            p made by smirnov-vv